<script runat="server">
    Platform.Load("Core","1.1.1");
    /*
     Author: Minh Nguyen
     https://pub.s7.exacttarget.com/l00pyrwdbl2 for US
     Server Side Javascript SSJS only supports ECMAScript 3 from 1999.
     This is the limitation of Marketing Cloud.
     Platform.Function.LookupRows can retrieve only 2000 rows, use WSProxy instead.
    */

        var DE = "Notify_Me_US_Stage", DEGroupBy = "Notify_Me_US_Stage_GroupBy";
    
        function getInventory(productId)
        {
            var accessToken    = "Bearer ";
            var SFCCAPIDEStage = "Notify_Me_US_Stage_Token";
     
            // make api call to SFCC Inventory API
            var DevUrl     = 'https://development.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/' + productId; 
            var ProdUrl    = '';// need accessKey for PROD
            var StagingUrl = 'https://staging.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/' + productId;
    
            var req = new Script.Util.HttpRequest(StagingUrl);
            req.contentType = "application/json";
    
            // retrieve accessToken from SFCCAPIDE, generate new token every 30 mins
            var getRow = Platform.Function.LookupRows(SFCCAPIDEStage, 'ID', 1);
            var myAccessToken = accessToken + getRow[0].AccessToken;
    
            req.setHeader("Authorization", myAccessToken);
            req.method = "GET"; 
            var resp = req.send();
            var inventoryAmount ;
    
            var resultJSON = Platform.Function.ParseJSON(String(resp.content));
            // get ATS instead of amount
            inventoryAmount = resultJSON.ats;
            return inventoryAmount;
        }

        function getInventoryFromGroupByTable(productIDGroupBy)
        {
            var resultSetGroupBy = Platform.Function.LookupRows(DEGroupBy,'Product_ID',productIDGroupBy);
            var resultInventory = resultSetGroupBy[0].Inventory;
            return resultInventory;    
        }
           
        var pid = [], productObject = [] , productID = 0, count = 0, amount = 0;
        
        try {
            var prox = new Script.Util.WSProxy();
            
            // this is for Notify Me Group By
            var colsGroupBy = ["Product_ID"]
            var dataGroupBy = prox.retrieve("DataExtensionObject[" + DEGroupBy + "]", colsGroupBy);
            var pid = [], productObjectGroupBy = [];

            for (var i = 0; i < dataGroupBy.Results.length; i++)
            {
                var result_listGroupBy = dataGroupBy.Results[i].Properties;
                var obj = {}, productIDGroupBy = 0;
                for (k in result_listGroupBy) 
                    {
                            var key = result_listGroupBy[k].Name;
                            var val = result_listGroupBy[k].Value;
                            if (key.indexOf("_") != 0) obj[key] = val;
                            productIDGroupBy = Number(val);
                            amount = getInventory(productIDGroupBy);
                            // insert inventory into Notify_Me_US_Stage_GroupBy
                            var updateInventoryGroupBy = Platform.Function.UpsertData(DEGroupBy,["Product_ID"],[productIDGroupBy],["Inventory"],[amount]);      
                    }
            }

            // this is for US Notify Me US Stage
            var cols = ["Product_ID"];
            var data = prox.retrieve("DataExtensionObject[" + DE + "]", cols);
            Write("Total record is: " + Stringify(data.Results.length) + "</br>");

            for (var i = 0; i < data.Results.length; i++)
            {
                var result_list = data.Results[i].Properties;
                var obj = {};
                for (k in result_list) 
                    {
                            var key = result_list[k].Name;
                            var val = result_list[k].Value;
                            if (key.indexOf("_") != 0) obj[key] = val;
                            productID = Number(val);
                            // to go Notify Me Group By table and get inventory
                            // if inventory > 0 then update InStock Flag = 1
                            var amount = getInventoryFromGroupByTable(productID);
                            if ( amount > 0)
                               var updateInStockTrue = Platform.Function.UpsertData(DE,["Product_ID"],[productID],["InStock"],[1]);       
                    }
            }        
            
        } catch(error) {
            Write(Stringify(error));
        }	
    </script>
    </script>
    <!DOCTYPE html>
    <html>
    <head>
    <title>Notify Me Landing Page US</title>
    </head>
    <body>
    <p>Notify Me US Minh</p>
    
    </body>
    </html>
    