<script runat="server">
Platform.Load("Core","1.1.1");

/*
 Author: Minh Nguyen
 https://pub.s7.exacttarget.com/tzkjo0gjuhx
 http://reg.bom.gov.au/fwo/IDQ60901/IDQ60901.94576.json
 https://www.youtube.com/watch?v=vCSCnoiR5ww
 https://ampscript.xyz/how-tos/read-data-extension-with-ssjs/
 https://gortonington.com/restapimethodinssjs/

 Notify Me Project, us WSproxy

 Loop through DE and for each row make ajax call to SFCC api
   if ( allocation.amount > 0)
      {
          send email trigger
          delete a row
      }

   https://development.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/192136617327
*/

    function getInventory(productId)
    {
        var accessToken = "Bearer ";
        var SFCCAPIDE   = 'ENT.SFCCDevAPIAccessToken';
 
        // make api call to SFCC Inventory Dev API
        var productIdDev  = "192136133582";
        var productIdStag = "192136617365";

        var url = 'https://staging.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/' + productId;
        var req = new Script.Util.HttpRequest(url);
        req.contentType = "application/json";

        // retrieve accessToken from SFCCAPIDE, generate new token every 30 mins
        var getRow = Platform.Function.LookupRows(SFCCAPIDE, 'ID', 1);
        var myAccessToken = accessToken + getRow[0].AccessToken;

        req.setHeader("Authorization", myAccessToken);
        req.method = "GET"; 
        var resp = req.send();
        var inventoryAmount ;

        var resultJSON = Platform.Function.ParseJSON(String(resp.content));
       
        if ( resultJSON.fault.type == "ProductInventoryRecordNotFoundException ")
        {
            Write("Result json : " + String(resp) );
            inventoryAmount = -1;
            return inventoryAmount;
        }

        //https://staging.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/192136984641
        //Unauthorized access
        //https://development.carters.com/s/-/dw/data/v20_4/inventory_lists/carters_inventory/product_inventory_records/192136984641
        //if ( resultJSON.fault.message == "Unauthorized request! ")
        else
        {
           // Write("Result json : " + resultJson + " " );
            inventoryAmount = resultJSON.allocation.amount;
            // For debugging
            // var stgInventory = getInventory(productIdStag);
            // Write("Inventory Amount " + stgInventory + "</br>"); 
            return inventoryAmount;
        }
    }
       
    var DE = "ENT.Notify_Me";
    var pid = [], uniquePID = [], productID = 0;

    var Rows = Platform.Function.LookupRows(DE,'InStock',0);

    var count = 0;

    var productObject = [] ;

    if (Rows.length > 0) 
    {
        for(var i in Rows) 
        {
            productId = Number(Rows[i].Product_ID);
            pid.push(productId);
            var amount = getInventory(pid[i]);
            productObject.push({ pid: pid[i], amount: amount });
            count = count + 1;
        }
    }
                    
    Write("Total record is " + count + "</br>");

    for (var i = 0; i < productObject.length; i++)
        {
           var e = productObject[i];
           Write(e.pid + ": " + e.amount + "</br>")
        }
           
</script>
<!DOCTYPE html>
<html>
<head>
<title>Notify Me Landing Page</title>
</head>
<body>
<p>Notify Me Minh</p>

</body>
</html>
